html,
body {
  width: 100wh;
  height: 100vh;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("./wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: scroll;
}

.Profile {
  min-height: 100vh;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
